{% extends '@fragments/_layouts/settings.twig' %}

{% import '_includes/forms.html' as forms %}

{% set title = "Edit Zone"|t('fragments') %}

{% set crumbs = [
    {
        label: "Settings"|t('fragments'),
        url: cpUrl('fragments/settings'),
    },
    {
        label: "Zones"|t('fragments'),
        url: cpUrl('fragments/settings/zones'),
    },
] %}

{% set fullPageForm = true %}

{% block sidebar %}{% endblock %}

{% block content %}

    {{ actionInput('fragments/zones/save') }}

    {{ redirectInput('fragments/settings/zones') }}

    {% if zone.id %}{{ hiddenInput('zoneId', zone.id) }}{% endif %}

    {{ forms.textField({
        first: true,
        label: "Name"|t('app'),
        instructions: "What this zone will be called in the control panel."|t('app'),
        id: 'name',
        name: 'name',
        value: zone.name,
        errors: zone.getErrors('name'),
        autofocus: true,
        required: true,
    }) }}

    {{ forms.textField({
        label: "Handle"|t('app'),
        instructions: "How you’ll refer to this zone in the templates."|t('app'),
        id: 'handle',
        name: 'handle',
        class: 'code',
        autocorrect: false,
        autocapitalize: false,
        value: zone.handle,
        errors: zone.getErrors('handle'),
        required: true
    }) }}

    {{ forms.checkboxSelectField({
        label: "Allowed Fragment Types"|t('app'),
        instructions: "Which fragment types are allowed in this zone?"|t('app'),
        id: 'allowedFragmentTypes',
        name: 'allowedFragmentTypes',
        options: fragmentTypeOptions,
        values: allowedFragmentTypes,
        showAllOption: true,
    }) }}

    <hr>

    {% set siteRows = [] %}
    {% set siteErrors = zone.getErrors('siteSettings') %}

    {% for site in craft.app.sites.getAllSites() %}
        {% set siteSettings = zone.siteSettings[site.id] ?? null %}
        {% if siteSettings %}
            {% for attribute, errors in siteSettings.getErrors() %}
                {% set siteErrors = siteErrors|merge(errors) %}
            {% endfor %}
        {% endif %}
        {% set siteRows = siteRows|merge({
            (site.handle): {
                heading: site.name|t('site')|e,
                enabled: include('_includes/forms/lightswitch.html', {
                    name: 'sites['~site.handle~'][enabled]',
                    on: isNew or siteSettings,
                    value: site.id,
                    small: true
                }),
                enabledByDefault: siteSettings ? siteSettings.enabledByDefault : true,
            }|filter
        }) %}
    {% endfor %}

    {{ forms.editableTableField({
        label: "Site Settings"|t('app'),
        instructions: "Choose which sites this zone should be available in, and configure the site-specific settings."|t('app'),
        id: 'sites',
        name: 'sites',
        cols: {
            heading: {
                type: 'heading',
                heading: "Site"|t('app'),
                thin: true
            },
            enabled: {
                type: 'heading',
                thin: true,
                class: not craft.app.getIsMultiSite() ? 'hidden'
            },
            enabledByDefault: {
                type: 'lightswitch',
                heading: "Default Status"|t('app'),
                thin: true
            }
        }|filter,
        rows: siteRows,
        fullWidth: not headlessMode,
        staticRows: true,
        errors: siteErrors|unique
    }) }}

    {% if craft.app.getIsMultiSite() %}
        <div class="field">
            {{ forms.selectField({
                label: 'Propagation Method'|t('app'),
                instructions: 'Of the enabled sites above, which sites should fragments in this zone be saved to?'|t('app'),
                warning: zone.id and zone.propagationMethod != 'none' and zone.siteSettings|length > 1 ? 'Changing this may result in data loss.'|t('app'),
                id: 'propagationMethod',
                name: 'propagationMethod',
                options: [
                    { value: 'none', label: 'Only save fragments to the site they were created in'|t('app') },
                    { value: 'siteGroup', label: 'Save fragments to other sites in the same site group'|t('app') },
                    { value: 'language', label: 'Save fragments to other sites with the same language'|t('app') },
                    { value: 'all', label: 'Save fragments to all sites enabled for this section'|t('app') },
                    { value: 'custom', label: 'Let each fragment choose which sites it should be saved to'|t('app') },
                ],
                value: zone.propagationMethod
            }) }}
        </div>
    {% endif %}

{% endblock %}

{% if isNew %}
    {% js %}
        new Craft.HandleGenerator('#name', '#handle');
    {% endjs %}
{% endif %}
